<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link
      rel="shortcut icon"
      href="../assets/image/fav.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Banvaaz cart</title>
  </head>
  <body>
    <!-- header -->
    <header class="main-header">
      <nav class="navbar container">
        <div class="navbar__logo">
          <img src="../assets/image/Logo.svg" alt="لوگو" title="logo" />
        </div>
        <div class="cart-parent">
          <div class="navbar__lists cart">
            <a class="df-center" href="product.html"
              ><i class="fa fa-cart-plus"></i
            ></a>
            <span class="cart-amount">1</span>
          </div>
        </div>
        <div class="navbar__menu">
          <div class="menu-container">
            <div class="menu-line bar-one"></div>
            <div class="menu-line bar-two"></div>
            <div class="menu-line bar-three"></div>
          </div>
        </div>
        <section class="navbar__list">
          <span class="navbar__lists"><a href="index.html">خانه</a></span>
          <span class="navbar__lists"><a href="product.html">فروشگاه</a></span>
          <span class="navbar__lists"
            ><a href="about-us.html">درباره ما</a></span
          >
          <a
            class="navbar__btn btn btn--primary no-phone btn--hover"
            href="login.html"
          >
            ورود / عضویت</a
          >
          <span class="navbar__btn btn btn--transparent no-phone btn--hover">
            <a href=""> دانلود اپلیکیشن </a>
          </span>
        </section>
      </nav>
    </header>

    <script src="js/main.js"></script>
  </body>
</html>
