<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link
      rel="shortcut icon"
      href="../assets/image/fav.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Banvaaz shop</title>
  </head>
  <body style="background: #f7f7f7">
    <section class="shop container block">
      <div class="shop__products">
        <div class="shop--img">
          <img src="assets/image/shop-power.webp" alt="" />
        </div>
        <div class="color-brand">
          <div class="shop__color">
            <div class="color-group">
              <div class="colors colors--blue"></div>
              <div class="colors colors--green"></div>
              <div class="colors colors--red"></div>
              <div class="colors colors--yellow active"></div>
            </div>
          </div>
          <div class="shop__brand">بانواز</div>
        </div>
        <div class="shop--title">
          <p class="shop--name">پاور بانک هوشمند</p>
        </div>
        <div class="shop--cta">
          <p class="shop--price">
            ۷٬۸۵۰٬۰۰۰ <span class="price-unit">ريال</span>
          </p>
          <hr />
          <div class="shop--buy">
            <button class="btn btn--primary">اضافه کردن به سبد خرید</button>
          </div>
        </div>
      </div>
    </section>
    <script src="../js/main.js"></script>
  </body>
</html>
