<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link
      rel="shortcut icon"
      href="../assets/image/fav.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Banvaaz shop</title>
  </head>
  <body style="background: #f7f7f7; width: 100vw">
    <div class="container">
      <section class="page-counter">
        <span class="count count--icon ">
          <i class="fa-solid fa-forward"></i>
        </span>
        <span class="count count--icon">
          <i class="fa-solid fa-caret-right"></i>
        </span>
        <span class="count active">۱</span>
        <span class="count">۲</span>
        <span class="count">۳</span>
        <span class="count">۴</span>
        <span class="count count--icon">
          <i class="fa-solid fa-caret-left"></i>
        </span>
        <span class="count count--icon">
          <i class="fa-solid fa-backward"></i>
        </span>
      </section>
    </div>
    <script src="../js/main.js"></script>
  </body>
</html>
